@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main{
max-width: 1200px;
margin: auto;
padding: 10px}

body {
  font-family: Montserrat;
}

section{
margin-top: 32px;}

h1, h2 {
  font-family: NotoSerifDisplay;
}

button{
border-radius: 30px;
padding:  12px 32px;

}

@media (max-width: 600px) {
  button {
    padding: 8px 16px;
  }
}


img{
border-radius: 30px;
}

label {
  display: block;
  font-weight: bold;

}

input,
select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
margin-top: 5px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.error{
color: red;
font-size: 0.75rem;}





